footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #f5f5f5;
}
.col-md-4 {
    margin: 10px 15px !important;
  }

.card-header {
  font-size: 1.2rem;
}

.card-table {
  font-size: 1rem;
}

.card:not(:first-child) {
  margin: 15px auto;
}

.scrollable{
  overflow-y: auto;
  max-height: 240px;
}

canvas {
  border: 1px dotted red;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
}