table.table.table-striped
  thead.table-dark.black.white-text
    tr
      th(scope='col')  #
      th(scope='col')  Application Name
      th(scope='col')  Sub Application Name
      th(scope='col')  Source Application
      th(scope='col')  Target Application
      th(scope='col')  Service Name
      th(scope='col')  Operation Name
      th(scope='col')  Service Name Version
      th(scope='col')  Configuration URL
      th(scope='col')  Application Package
      th(scope='col')  Service Type
      th(scope='col')  Application Support Type
      th(scope='col')  Service Health