doctype html
html
  body
    table.table-striped.table-bordered
      thead.table-dark.black.white-text
        tr
          th(scope='col')  #
          th(scope='col')  Application Name
          th(scope='col')  Database Name
          th(scope='col')  Service Name
          th(scope='col')  Service Type
          th(scope='col')  Database Service Details
          th(scope='col')  Database Package
          th(scope='col')  Service Health