div(class="main container-fluid text-center")
  div(class="chart")
  canvas(id="chartPic" width="400" height="400")

script(src='/public/js/chart.js')
script.
    var ctx = document.getElementById("chartPic").getContext('2d');
        var chart = new Chart(ctx,  {
            type: 'groupableBar',
            data: #{db2DataList},
            options: {
                legend: {
                labels: {
                    generateLabels: function(chart) {
                    return Chart.defaults.global.legend.labels.generateLabels.apply(this, [chart]).filter(function(item, i){
                            return i <= 2;
                    });
                    }
                }
                },
                scales: {
                yAxes: [{
                    ticks: {
                    max: 160,
                    },
                    stacked: true,
                }]
                }
            }
        });